<div class="container mb-5">
        <h1 class="text-center">Edit Cat</h1>
<form  action='/updateProdCat' method='post'>
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
  <div class="form-group">
    <label for="exampleInputEmail1">category</label>
    <input type="text" class="form-control" name='category' value={{prodCat.category}}>
  </div>
  <input type="hidden" name='id' value={{prodCat._id}} >
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>